@font-face {
  font-family: "iconfont"; /* Project id 2016642 */
  src: url('iconfont.woff2?t=1620713432149') format('woff2'),
       url('iconfont.woff?t=1620713432149') format('woff'),
       url('iconfont.ttf?t=1620713432149') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconicon-address:before {
  content: "\e6ff";
}

.iconicon-activity-view:before {
  content: "\e700";
}

.iconicon-activity-logout:before {
  content: "\e6f9";
}

.iconicon-activity-bind:before {
  content: "\e6fa";
}

.iconicon-activity-register:before {
  content: "\e6fb";
}

.iconicon-activity-login:before {
  content: "\e6fc";
}

.iconicon-activity-active:before {
  content: "\e6fe";
}

.iconicon-zhankai:before {
  content: "\e6f6";
}

.iconicon-shouqi:before {
  content: "\e6f7";
}

.iconicon-youjian:before {
  content: "\e6f1";
}

.iconicon-lianjie:before {
  content: "\e6f2";
}

.iconzu7291:before {
  content: "\e6f0";
}

.iconicon-shouji:before {
  content: "\e6ec";
}

.iconicon-dizhi:before {
  content: "\e6eb";
}

.iconicon-youxiang:before {
  content: "\e6ea";
}

.iconicon-daochu:before {
  content: "\e6e8";
}

.iconicon-yaoqing:before {
  content: "\e6e9";
}

.iconicon-teams:before {
  content: "\e6e6";
}

.iconicon-Mypanel:before {
  content: "\e6e7";
}

.iconicon-wenhao1:before {
  content: "\e6d2";
}

.iconjianqu50:before {
  content: "\e6d1";
}

.iconAppStore1:before {
  content: "\e6d0";
}

.iconcopy:before {
  content: "\e600";
}

.icongoogle-play:before {
  content: "\e6ce";
}

.iconapp_store:before {
  content: "\e604";
}

.icongoogle_play:before {
  content: "\e60c";
}

.iconvisibility1:before {
  content: "\e622";
}

.iconvisibilityoff:before {
  content: "\e623";
}

.iconicon-shibai:before {
  content: "\e6cd";
}

.iconicon-daojishi1:before {
  content: "\e6cb";
}

.iconicon-time1:before {
  content: "\e6cc";
}

.icontouzizheguanli:before {
  content: "\e6c8";
}

.iconlujing443:before {
  content: "\e6c6";
}

.icon-zu:before {
  content: "\e6c5";
}

.icon-IdentityVerified:before {
  content: "\e6c3";
}

.icon-view:before {
  content: "\e6c0";
}

.icon-left-arrow:before {
  content: "\e6bc";
}

.icon-right-arrow:before {
  content: "\e6bd";
}

.iconDashboard:before {
  content: "\e6bb";
}

.icon-zhuangtai-yirenzheng:before {
  content: "\e6ba";
}

.icon-switch:before {
  content: "\e6b9";
}

.icon-fill-in:before {
  content: "\e6b6";
}

.iconRequestInformation:before {
  content: "\e6b4";
}

.iconzhuangtai-weizuowan:before {
  content: "\e6b5";
}

.iconRequestConfidentialInformation:before {
  content: "\e6b8";
}

.iconicon-wenhao:before {
  content: "\e6b3";
}

.icon-loading:before {
  content: "\e632";
}

.iconicon-download-no:before {
  content: "\e6b1";
}

.iconicon-download-hover:before {
  content: "\e6b2";
}

.icon-plus:before {
  content: "\e6b0";
}

.icon-close:before {
  content: "\e6af";
}

.icon-reset-arrow:before {
  content: "\e6ad";
}

.icon-pdf:before {
  content: "\e6ae";
}

.iconicon-qingchu-no:before {
  content: "\e6ab";
}

.iconicon-qingchu-hover:before {
  content: "\e6ac";
}

.icon-duihao:before {
  content: "\e6a9";
}

.icon-arrow-right:before {
  content: "\e6aa";
}

.icon-bell:before {
  content: "\e613";
}

.icon-tip:before {
  content: "\e6a6";
}

.icon-arrow-up:before {
  content: "\e670";
}

.icon-arrow-down:before {
  content: "\e66b";
}

.icon-scroll:before {
  content: "\e6a4";
}

.icon-search:before {
  content: "\e6a5";
}

.icon-reset:before {
  content: "\e6a3";
}

.icon-open:before {
  content: "\e6a2";
}

.icon-faq:before {
  content: "\e6a0";
}

.icon-documents:before {
  content: "\e6a1";
}

.icon-data-room:before {
  content: "\e697";
}

.icon-fund-terms:before {
  content: "\e699";
}

.icon-market:before {
  content: "\e69a";
}

.icon-KID:before {
  content: "\e69b";
}

.icon-overview:before {
  content: "\e69c";
}

.icon-strategy:before {
  content: "\e69d";
}

.icon-track-record:before {
  content: "\e69f";
}

